@font-face {
    src: url("/fonts/hk-grotesk/HKGrotesk-Light.otf");
    font-family: "HK Grotesk";
    font-weight: 300;
    font-style: normal;
}

@font-face {
    src: url("/fonts/hk-grotesk/HKGrotesk-LightItalic.otf");
    font-family: "HK Grotesk";
    font-weight: 300;
    font-style: italic;
}

@font-face {
    src: url("/fonts/hk-grotesk/HKGrotesk-Regular.otf");
    font-family: "HK Grotesk";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url("/fonts/hk-grotesk/HKGrotesk-Italic.otf");
    font-family: "HK Grotesk";
    font-weight: normal;
    font-style: italic;
}

@font-face {
    src: url("/fonts/hk-grotesk/HKGrotesk-Medium.otf");
    font-family: "HK Grotesk";
    font-weight: 500;
    font-style: normal;
}

@font-face {
    src: url("/fonts/hk-grotesk/HKGrotesk-MediumItalic.otf");
    font-family: "HK Grotesk";
    font-weight: 500;
    font-style: italic;
}

@font-face {
    src: url("/fonts/hk-grotesk/HKGrotesk-SemiBold.otf");
    font-family: "HK Grotesk";
    font-weight: 600;
    font-style: normal;
}

@font-face {
    src: url("/fonts/hk-grotesk/HKGrotesk-SemiBoldItalic.otf");
    font-family: "HK Grotesk";
    font-weight: 600;
    font-style: italic;
}

@font-face {
    src: url("/fonts/hk-grotesk/HKGrotesk-Bold.otf");
    font-family: "HK Grotesk";
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url("/fonts/hk-grotesk/HKGrotesk-BoldItalic.otf");
    font-family: "HK Grotesk";
    font-weight: 700;
    font-style: italic;
}