.list-style-none {
  list-style-type: none;
}

.w-screen {
  width: 100vw;
}

.p2 {
  font-size: $p2;
  line-height: 2.2;
}
.p3 {
  font-size: $p3;
}
.text-big {
  font-size: $h1;
}
.line-height-1 {
  line-height: 1;
}
.line-height-1_5 {
  line-height: 1.5;
}
.box-shadow-none {
  box-shadow: none !important;
}

.ordered-list {
  li {
    margin-bottom: 30px;
  }

  .item-number {
    margin-right: 30px;
  }
}

blockquote.quote {
  font-size: 40px;
}

.rounded-sm {
  border-radius: 10px !important;
}
.rounded-md {
  border-radius: 20px;
}

.dot {
  font-size: 4px;
  margin: 0px 10px;
}

.fit-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cursor-pointer {
  cursor: pointer;
}

.outline-none {
  outline: none;
}

.border-none {
  border: none;
}
