* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

::selection {
  background-color: $primary;
  color: $white;
}

// Tags
input,
a,
button {
  outline: none;
}

body {
  color: $black;
}

body {
  font-family: "Open Sans", sans-serif;
  padding-top: $navbar-height;
}

a {
  color: $primary;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HK Grotesk", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: $h1;
  letter-spacing: $h1_spacing;
  margin-bottom: 1rem;
}
h2 {
  font-size: $h2;
  letter-spacing: $h2_spacing;
  margin-bottom: 1rem;
}
h3 {
  font-size: $h3;
  letter-spacing: $h3_spacing;
  margin-bottom: 14px;
}
h4 {
  font-size: $h4;
  letter-spacing: $h4_spacing;
}
h5 {
  font-size: $h5;
  letter-spacing: $h5_spacing;
}
h6 {
  font-size: $h6;
  letter-spacing: $h6_spacing;
}

p {
  font-size: $p1;
  letter-spacing: $p1_spacing;
  line-height: 1.75;
}

input {
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid $grey-light;
}

a {
  transition: color 0.1s;
  &:hover,
  &:focus {
    color: $primary;
  }
}

// Classes/ids
footer#ehay-footer {
  margin-top: 85px;

  a {
    color: $grey;
    font-weight: normal;
  }

  img.ehay-logo {
    height: 30px;
  }

  #footer-copyright {
    margin-top: 100px;
    margin-bottom: 60px;
  }
}

// Bootstrap
.text-dark {
  color: $black !important;
}

.text-grey {
  color: $grey !important;
}

.dropdown {
  > button {
    background-color: transparent !important;
    border: 2px solid $grey-light !important;
    border-radius: 10px;
    padding: 10px 20px;

    &:hover,
    &:focus {
      background-color: transparent !important;
      border: 2px solid $grey !important;
    }
  }
}
