$primary: #1565d8;
$secondary: #3f598a;
$success: #36b37e;
$info: #00b8d9;
$warning: #faad13;
$danger: #e95432;
$black: #183b56;
$grey: #5a7184;
$grey-light: #b3bac5;
$white: #ffffff;

$primary-light: rgba(18, 83, 180, .2);
$success-light: rgba(54, 179, 126, .2);
$grey-light-light: rgba(179, 186, 197, .2);