// Load fonts
@import "fonts/hk-grotesk.scss";
@import "fonts/open-sans.scss";

// Define sizes
$h1: 56pt;
$h2: 40pt;
$h3: 32pt;
$h4: 24pt;
$h5: 20pt;
$h6: 16pt;

$p1: 20pt;
$p2: 16pt;
$p3: 14pt;

$icon: 18pt;

$h1_spacing: 1.5;
$h2_spacing: 1.5;
$h3_spacing: 1.5;
$h4_spacing: 1;
$h5_spacing: 1;
$h6_spacing: 0.5;
$p1_spacing: 0.5;
$p2_spacing: 0;
$p3_spacing: -0.5;

// Set sizes
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HK Grotesk", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: $h1;
  letter-spacing: $h1_spacing;
}
h2 {
  font-size: $h2;
  letter-spacing: $h2_spacing;
}
h3 {
  font-size: $h3;
  letter-spacing: $h3_spacing;
}
h4 {
  font-size: $h4;
  letter-spacing: $h4_spacing;
}
h5 {
  font-size: $h5;
  letter-spacing: $h5_spacing;
}
h6 {
  font-size: $h6;
  letter-spacing: $h6_spacing;
}

p {
  font-size: $p1;
  letter-spacing: $p1_spacing;
  font-family: "Open Sans", sans-serif;
}
