// Load fonts
@import "fonts/hk-grotesk.scss";
@import "fonts/open-sans.scss";

// Define sizes
$h1: 3rem;
$h2: 2.2rem;
$h3: 1.5rem;
$h4: 1.3rem;
$h5: 20pt;
$h6: 16pt;

$p1: 1.25rem;
$p2: 1rem;
$p3: .9rem;

$icon: 18pt;

$h1_spacing: 1.5;
$h2_spacing: 1.5;
$h3_spacing: 1.5;
$h4_spacing: 1;
$h5_spacing: 1;
$h6_spacing: 0.5;
$p1_spacing: 0.5;
$p2_spacing: 0;
$p3_spacing: -0.5;